@import "tailwindcss";

@theme {
  --color-primary: var(--color-blue-600);
  --color-secondary: var(--color-gray-500);
  --color-secondary-foreground: var(--color-gray-100);
  --color-danger: var(--color-red-600);
  --color-danger-light: var(--color-red-300);
  --color-danger-lighter: var(--color-red-100);
  --color-border: var(--color-white);
}
